<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.userbusiness.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.qf.userbusiness.domain.entity.User">
    <!--@mbg.generated-->
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="carnumber" jdbcType="INTEGER" property="carnumber" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />

  </resultMap>
    <select id="selectAll" resultMap="BaseResultMap">

        select * from user

    </select>

    <select id="showAll" resultMap="BaseResultMap">

        select * from  user

        where

        user_id=#{userId}

    </select>

    <insert id="register">

        insert into user
        (name,password,user_id,order_id,carnumber,phone)
        values
        (#{name},#{password},#{userId},#{orderId},#{carnumber},#{phone})
    </insert>

    <select id="check" resultMap="BaseResultMap">

        select * from user

        where

        name=#{name}

    </select>




</mapper>